<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <div class="header" role="banner">
    <div class="navContainer">
      <div class="navbar" *ngFor="let category of categories">
        <button class="catButton" (click)="setCategory(category)">{{category}}</button>
      </div>
    </div>
  </div>

  <div class="main">
    <div id="quiz" class="quiz">
      <div *ngIf="!category">
        <h1 style="text-align: center;">Wybierz kategorie</h1>
      </div>
      <h1 style="text-align: center;">{{category}}</h1>
      <div *ngIf="category">
        <div *ngFor="let question of questions | categoryFilter:category;index as i;">
          {{i+1}}. {{question.question}}<br><br>
            <mat-radio-group id="{{question.id}}" [(ngModel)]="chosenAns[i]">
              <mat-radio-button id="rad{{question.id}}0" value="0">{{question.answers[0]}}</mat-radio-button><br>
              <mat-radio-button id="rad{{question.id}}1" value="1">{{question.answers[1]}}</mat-radio-button><br>
              <mat-radio-button id="rad{{question.id}}2" value="2">{{question.answers[2]}}</mat-radio-button><br>
              <mat-radio-button id="rad{{question.id}}3" value="3">{{question.answers[3]}}</mat-radio-button><br><br>
            </mat-radio-group>
        </div>
        <button (click)="onSubmit()">Sprawdź odpowiedzi kekw</button>
      </div>
    </div>
  </div>

</body>

</html>